main{
    font-family:'roboto mono';
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time-settings{
    color: white;
    
}

.time-settings button{
    margin-left: 15px;
}

#typing-sentence span.correct{
    color: #22c55e;    
}

#typing-sentence span.incorrect{
    color: #ef4444;
    text-decoration: underline;
}

#typing-sentence{
    width: 70vw;
    text-align: center;
}

.heading h1{
    margin-bottom: 1.5rem ;
    font-size: 1.8rem;
}
#text-input{
    text-indent: 10px;
    padding: 10px;
    border: none;
    resize: none;
    font-size: 1.4rem;
    font-family: 'roboto mono';
    text-align: center;
    color: white;
    background: transparent;
    max-width: 70vw;
}
#text-input::placeholder{
    padding: 3px;
    font-size: 1.3rem;
    color: rgb(154, 154, 154);
    
}

#text-input:focus{
    border: none;
    outline: none;
}

#text-input:focus::placeholder{
    color: transparent;
}



#typing-sentence {
    font-size: 2rem;
    padding: 10px 20px;
    margin-bottom: 2rem;
    color : #444444;
}    

.stats{
    margin-top: 3rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 2rem;
    /* font-weight: 600; */
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    color: rgb(188, 187, 187);

}

#restart-button{
    margin-top: 3rem;

}

#restart-button button{
    border-radius: 8px;
    font-family: 'roboto mono';
    padding: 8px 20px;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color: #444444;
    transition: 0.3s ease-in-out;
}

#restart-button button:hover{
    color: white;
    cursor: pointer;
    /* transform: scale(1.1); */
    
    border: none;
}